 /* font family for Task in header */
 @import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
 /* font family for all texts */
 @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Barlow Condensed', sans-serif;
}

body {
  /* min-height: 100vh; */
  background: black;
  font-family: sans-serif;
}
/* blur */
.blur {
  filter: blur(8px);
}
/* header */

header {
  display: flex;
  margin: 40px 10% 50px 10%;
  justify-content: space-between;
  color: white;
  font-size: 50px;
}
.taskList{
  font-size: 50px;
}
.task{
  font-family: 'Secular One', sans-serif;
}

.addItemsContainer:hover {
  cursor: pointer;
}
.addItems {

  font-size: 50px;
  display: flex;
  align-items: baseline;
}
#addItem2{
  align-items: center;

}

.addItemPlus {
  font-size: 50px;
  color: blue;
}
.addItems:hover {
  cursor: pointer;
}
/* header 2  */
#backBtn:hover{ 
  cursor: pointer;

}
/* section */
section {
  width: 80%;
  position: relative;
  left: 50%;
  transform: translatex(-50%);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
  font-size: 36px;
}


/* newTask card */
.newTask {
  /* width: 20%; */
  min-width: 250px;
  margin: 10px;
  min-height: 350px;
  /* height: 350px; */
  background: white;
  border-radius: 10px;
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 65px;
}
/* card css on 2nd page */

.newTask2 {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  visibility: visible;
}
.newTaskHeading {
  text-align: center;
  font-size: 20px;
  position: relative;
  top: 40px;
  color: red;
  font-weight: lighter;
  cursor: pointer;
  max-width: 200px;
  overflow-wrap: break-word;
 left: 50%;
 transform: translatex(-50%);
}

.line {
  margin-top: 40px;
  border: 1px solid black;
}
.newTaskDescription {
  text-align: center;
  font-size: 20px;
  color:black;
  max-width: 200px;
  overflow-wrap: break-word;
margin: auto;
margin-top: 10px;
/* margin-bottom: 10px; */
}
.newTaskBtn {
  text-align: center;
  background: blue;
  color: white;
  font-size: 12px;
  padding: 0 5px;
  border-radius: 10px;
  margin-left: 10px;
}
.newTaskplus:hover {
  cursor: pointer;
}
.newTaskbuttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;
  height: 30px;
  position: absolute;
  right: 20px;
  bottom:20px;
}
.newTaskDelete {
  font-size: 15px;
  padding: 5px;
  background-color: red;
  border-radius: 50%;
  object-fit: cover;
}
.newTaskDelete:hover {
  cursor: pointer;
}
.newTaskplus {
  font-size: 26px;
  color: blue;
}
input[type="text"]{
  padding-left: 10px;

}

/* popup */
/* .popTransition{
  transform: translateY(20px);

} */
@keyframes popTransitionComing{

from{
  transform: translate(-50%,-10px);
  opacity: 0.5;
}}
@keyframes popTransitionGoing{
  from{
    transform: translate(-50%,-50%);
  
    opacity: 1;
  }
to{
  transform: translate(-50%,-10px);

  opacity: 0.2;
}

}
.popTransitionComing{
  animation: popTransitionComing 0.5s ease-in  1;

}
.popTransitionGoing{
  animation: popTransitionGoing 0.5s ease-in  1;

}


.popUp {
  border: 0.5px solid rgb(0, 0, 0);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.popUpHead {
  font-size: 22px;
  text-transform: capitalize;
  margin-bottom: 10px;
  color: red;
  font-weight: bold;
 
}
input[type="text"] {
  width: 350px;
  height: 40px;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 10px;
  box-shadow: 0 0 5px 0 gray;
  margin-bottom: 10px;
}

.popUpButtons {
  width: 250px;
  height: 20px;
  display: flex;
  justify-content: space-between;
}
.addBtn,
.closeBtn {
  font-size: 22px;
  width: 100px;
  height: 40px;
  background: orangered;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.addBtn:hover,
.closeBtn:hover ,
.newTaskBtn
{
  cursor: pointer;
}
/* new task card */

/* responsive */
@media screen and (max-width: 692px) {
  .taskList,
  .addItemsContainer,
  #addItemsContainer,
  .addItemPlus {
    font-size: 28px;
  }
  section {
    display: flex;
    justify-content: center;
  }
  .popUp{
    width: 300px;
    height: 140px;
  }
  .popUpHead{
    font-size: 24px;
  }
  .popUp input{
    width: 250px;
  }
  .closeBtn,
  .addBtn{
    width: 50px;
    height: 20px;
    font-size:18px;
  }
  .popUpButtons{
    width: 150px;
  }
}
